<!DOCTYPE html>
<html>
<head>
    <meta name="baidu-site-verification" content="PhTHKMuiX7"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/index_css/demo.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/comm.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/media.css"/>
    <script src="../static/js/animate.js"></script>
</head>
<body>
<nav class="navbar navbar-default" style="background-color:rgba(0, 0, 0, 0.85)">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul style="list-style: none;display: inline-block; margin-top:20px;margin-right:25px">
                <li style="display: inline-block;margin-right:8px;">
                    <a href="/" style="color:#FFF"> 首页 </a>
                </li>
                <li class="hidden-xs hidden-sm" style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/pa" target="_blank" rel="nofollow"> 数据采集 </a>
                </li>
                <li class="hidden-xs hidden-sm" style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/tf_idf" target="_blank" rel="nofollow"> 特征值搜索 </a>
                </li>
                <li class="hidden-xs hidden-sm" style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/tf" target="_blank" rel="nofollow"> 特征值可视化 </a>
                </li>
                <li style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/relatedwords" target="_blank" rel="nofollow"> 相关词 </a>
                </li>
                <li class="hidden-xs hidden-sm" style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/pred" target="_blank" rel="nofollow"> 预测值 </a>
                </li>
                <li class="hidden-xs hidden-sm" style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/hotword" target="_blank" rel="nofollow"> 热点词 </a>
                </li>
                <li style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/trend" target="_blank" rel="nofollow"> 情感追踪 </a>
                </li>
                <li class="hidden-xs hidden-sm" style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/visual" target="_blank" rel="nofollow"> 疫情可视化 </a>
                </li>
            </ul>

            <div class="navbar-right">
                <a href="/search" target="_blank" rel="nofollow"><img src="../static/images/index_img/sou.png"
                                                                      width="25" alt="大数据分析" height="25"
                                                                      align="absmiddle"></a>
                <div class="language">
                    <a href="/login" target="_blank" rel="nofollow">用户登录</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="have-top-nav"></div>
<div class="box" id="box">
    <div class="slider" id="slider">
        <div class="slide"><img src="../static/images/index_images/b5.jpg" alt="b5"></div>
        <div class="slide"><img src="../static/images/index_images/b1.jpg" alt="b1"></div>
        <div class="slide"><img src="../static/images/index_images/b2.jpg" alt="b2"></div>
        <div class="slide"><img src="../static/images/index_images/b3.jpg" alt="b3"></div>
        <div class="slide"><img src="../static/images/index_images/b4.jpg" alt="b4"></div>
        <div class="slide"><img src="../static/images/index_images/b5.jpg" alt="b5"></div>
        <div class="slide"><img src="../static/images/index_images/b1.jpg" alt="b1"></div>
    </div>
    <span id="left"><</span>
    <span id="right">></span>
    <ul class="nav" id="nav">
        <li style="color: white; background: #808069;"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>


<div class="container hidden-xs">
    <div class="con_box nr_tit1" style="border-bottom: none;">
        <h2>舆情分析大数据平台</h2>
        <p style="font-size:0.7rem; color:#7e8890; line-height:1.3rem;">把大数据分析所需的产品功能全部融入一个平台下，进行统一管控。<br/>为疫情期间普通群众的言论监控出一份力！
        </p>
        <div class="ptb20 text-center">
            <a class="tongyonganniu" href="http://demo.yonghongtech.com/bi/v85?au_act=login&adminv=demo&passv=Demo1234"
               target="_blank" rel="nofollow">Demo体验</a>
            <a class="tongyonganniu" href=" " style="margin-left: 1rem" rel="nofollow">申请试用</a>
        </div>
    </div>
</div>


<div class="item3 clearfix">
    <div class="container">
        <div class="m1 ptb30">
            <p class="f30 lh2 c33">舆情分析</p>

            <p class="f14 lh185 c77">舆情分析的七大王牌优势，让您的大数据分析更敏捷、更快速、更强大。</p>

            <div style="height:1.5rem"></div>
            <div class="m1_nr2">
                <ul class="clearfix text-center center-block" style="width: 56rem;">
                    <a href="/cp/suite/">
                        <li class="m1_nr2_li">
                            <img src="../static/images/index_img/pinpai.png" alt="一站式大数据分析平台"/>
                            <p class="nopadding">一站式数据平台</p>
                            <div>一站式数据平台。可以在一个统一的平台上完成全流程数据分析任务，极大降低了实施、集成、培训的成本。</div>
                            <div class="btn visible-xs">
                                <button>查看详情</button>
                            </div>
                        </li>
                    </a>
                    <a href="/cp/X-Suite/">
                        <li class="m1_nr2_li">
                            <img src="../static/images/index_img/pinpai.png" alt="一站式大数据分析平台"/>
                            <p class="nopadding">自助式分析平台</p>
                            <div>自助式分析平台。自助式分析应用，便于上手，快速整合海量数据，提供易用、高效的数据可视化分析。</div>
                            <div class="btn visible-xs">
                                <button>查看详情</button>
                            </div>
                        </li>
                    </a>
                    <a href="/cp/desktop/">
                        <li class="m1_nr2_li">
                            <img src="../static/images/index_img/pinpai.png" alt="一站式大数据分析平台"/>
                            <p class="nopadding">警报系统</p>
                            <div>警报系统。基于平台的使用，会对不良的舆论发起警报作用，帮助您找到每一个不良的舆论，解决您所有的问题。<br/></div>
                            <div class="btn visible-xs">
                                <button>查看详情</button>
                            </div>
                        </li>
                    </a>
                    <a href="/cp/reporting/">
                        <li class="m1_nr2_li">
                            <img src="../static/images/index_img/pinpai.png" alt="一站式大数据分析平台"/>
                            <p class="nopadding">强大分析功能</p>
                            <div>强大分析功能。强大的情感分析功能，不让任意一条不良的舆论从你的面前溜走。</div>
                            <div class="btn visible-xs">
                                <button>查看详情</button>
                            </div>
                        </li>
                    </a>
                    <a href="/cp/vivid-show/">
                        <li class="m1_nr2_li" style="margin-left: 7.5rem">
                            <img src="../static/images/index_img/pinpai.png" alt="一站式大数据分析平台"/>
                            <p class="nopadding">可视化大屏展示</p>
                            <div>可视化大屏展示。致力于先进的数据技术、优秀的可视化能力、酷炫的大屏展示效果。</div>
                            <div class="btn visible-xs">
                                <button>查看详情</button>
                            </div>
                        </li>
                    </a>
                    <a href="/cp/SaaS/">
                        <li class="m1_nr2_li">
                            <img src="../static/images/index_img/pinpai.png" alt="一站式大数据分析平台"/>
                            <p class="nopadding">创新新产品</p>
                            <div>创新新产品。产品源于组内成员的创新，最新的技术，最好的想法，只为送给最适合的人。</div>
                            <div class="btn visible-xs">
                                <button>查看详情</button>
                            </div>
                        </li>
                    </a>
                    <a href="/cp/hub/">
                        <li class="m1_nr2_li">
                            <img src="../static/images/index_img/pinpai.png" alt="一站式大数据分析平台"/>
                            <p class="nopadding">超多大数据</p>
                            <div>超多大数据。实时追踪抓取最新大数据，含括国内各大交友平台。你想要的数据，我们这里都有~。</div>
                            <div class="btn visible-xs">
                                <button>查看详情</button>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="container" style="margin-top:20px;margin-bottom:40px">
    <div class="item4 text-center">

        <div class="m1 ptb30">
            <p class="f30 c33 lh2">行业范围</p>
            <p class="f14 lh185 c77">专属行业定制特殊化服务，为全行业数字化转型赋能。</p>

            <div style="height:1.5rem"></div>
            <ul class="clearfix">
                <li class="jjfa_li"
                    style="background:url(../static/images/index_img/jinrong.png) no-repeat;background-size:100%; ">
                    <div class="jjfa_li2">
                        <div>
                            <p class="jjfa_p1">金融行业</p>
                            <p class="jjfa_p2">利用BI工具建立“数据驱动型”发展模式，全面提升金融企业竞争力。</p>
                            <a href=" ">
                                <div class="jjfa_ljxq">了解详情</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="jjfa_li"
                    style="background:url(../static/images/index_img/zhizao.png) no-repeat;background-size:100%; ">
                    <div class="jjfa_li2">
                        <div>
                            <p class="jjfa_p1">制造行业</p>
                            <p class="jjfa_p2">平台推进“智能制造”战略的实施，帮助制造企业制造出人民真正需要的东西。</p>
                            <a href=" ">
                                <div class="jjfa_ljxq">了解详情</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="jjfa_li"
                    style="background:url(../static/images/index_img/lingshou.png) no-repeat;background-size:100%; ">
                    <div class="jjfa_li2">
                        <div>
                            <p class="jjfa_p1">零售行业</p>
                            <p class="jjfa_p2">平台基于舆论数据分析工具，帮助零售业洞察，快速做出市场反馈。</p>
                            <a href=" ">
                                <div class="jjfa_ljxq">了解详情</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="jjfa_li"
                    style="background:url(../static/images/index_img/jiaotong.png) no-repeat;background-size:100%; ">
                    <div class="jjfa_li2">
                        <div>
                            <p class="jjfa_p1">交通行业</p>
                            <p class="jjfa_p2">平台针对交通行业，捕捉某地区的可能为事故多发地段，推进智能交通发展。</p>
                            <a href=" ">
                                <div class="jjfa_ljxq">了解详情</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="jjfa_li"
                    style="background:url(../static/images/index_img/dianli.png) no-repeat;background-size:100%; ">
                    <div class="jjfa_li2">
                        <div>
                            <p class="jjfa_p1">电力行业</p>
                            <p class="jjfa_p2">电力企业如何打造多元化数据可视化与数据应用场景，让数据驱动决策。</p>
                            <a href=" ">
                                <div class="jjfa_ljxq">了解详情</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="jjfa_li"
                    style="background:url(../static/images/index_img/dianxin.png) no-repeat;background-size:100%; ">
                    <div class="jjfa_li2">
                        <div>
                            <p class="jjfa_p1">电信行业</p>
                            <p class="jjfa_p2">平台手握大数据“金矿”，利用舆论分析寻找利润增长点和差异化竞争。</p>
                            <a href=" ">
                                <div class="jjfa_ljxq">了解详情</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="jjfa_li"
                    style="background:url(../static/images/index_img/hulianwang.png) no-repeat;background-size:100%; ">
                    <div class="jjfa_li2">
                        <div>
                            <p class="jjfa_p1">互联网行业</p>
                            <p class="jjfa_p2">平台敏捷分析，高性能响应助力互联网企业大数据分析决策。</p>
                            <a href=" ">
                                <div class="jjfa_ljxq">了解详情</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="jjfa_li"
                    style="background:url(../static/images/index_img/gaojiao.png) no-repeat;background-size:100%; ">
                    <div class="jjfa_li2">
                        <div>
                            <p class="jjfa_p1">高教行业</p>
                            <p class="jjfa_p2">平台促进教育个性化、智能化发展，并提高教育教学效率。</p>
                            <a href=" ">
                                <div class="jjfa_ljxq">了解详情</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="jjfa_li"
                    style="background:url(../static/images/index_img/zhengfu.png) no-repeat;background-size:100%; ">
                    <div class="jjfa_li2">
                        <div>
                            <p class="jjfa_p1">政府行业</p>
                            <p class="jjfa_p2">平台内一站式大数据分析解决方案，打造数据化运营的智慧政府。</p>
                            <a href=" ">
                                <div class="jjfa_ljxq">了解详情</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="jjfa_li"
                    style="background:url(../static/images/index_img/dianshang.png) no-repeat;background-size:100%; ">
                    <div class="jjfa_li2">
                        <div>
                            <p class="jjfa_p1">电商行业</p>
                            <p class="jjfa_p2">平台助力电商洞察企业运行状况，快速响应新的分析需求和变化。</p>
                            <a href=" ">
                                <div class="jjfa_ljxq">了解详情</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="jjfa_li"
                    style="background:url(../static/images/index_img/yiliao.png) no-repeat;background-size:100%; ">
                    <div class="jjfa_li2">
                        <div>
                            <p class="jjfa_p1">医疗行业</p>
                            <p class="jjfa_p2">平台从容应对医院负面舆论的数据，为医院智能决策提供保障。</p>
                            <a href=" ">
                                <div class="jjfa_ljxq">了解详情</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="jjfa_li"
                    style="background:url(../static/images/index_img/gengduo.png) no-repeat center;background-size:40%;">
                    <div class="jjfa_li2">
                        <a href=" "><p class="f18" style="margin-top: 4rem;">更多行业范围</p></a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>


<div class="footer hidden-xs">
    <div class="container">
        <div class="clearfix">
            <dl>
                <dt>王牌优势</dt>
                <dd>
                    <a href=" ">一站式平台</a>
                </dd>
                <dd>
                    <a href=" ">自助式分析</a>
                </dd>
                <dd>
                    <a href=" ">警报系统</a>
                </dd>
                <dd>
                    <a href=" ">强大分析功能</a>
                </dd>
                <dd>
                    <a href=" ">可视化大屏</a>
                </dd>
                <dd>
                    <a href=" ">创新新产品</a>
                </dd>
                <dd>
                    <a href=" ">超多大数据</a>
                </dd>
            </dl>

            <dl>
                <dt>行业范围</dt>
                <dd>
                    <a href=" ">金融行业</a>
                </dd>
                <dd>
                    <a href=" ">制造行业</a>
                </dd>
                <dd>
                    <a href=" ">零售行业</a>
                </dd>
                <dd>
                    <a href=" ">政府行业</a>
                </dd>
                <dd>
                    <a href=" ">高教行业</a>
                </dd>
                <dd>
                    <a href=" ">电力行业</a>
                </dd>
                <dd>
                    <a href=" ">交通行业</a>
                </dd>
            </dl>

            <dl>
                <dt>案例</dt>
                <dd>
                    <a href=" ">中信银行</a>
                </dd>
                <dd>
                    <a href=" ">中国移动</a>
                </dd>
                <dd>
                    <a href=" ">国家电网</a>
                </dd>
                <dd>
                    <a href=" ">航天科工</a>
                </dd>
                <dd>
                    <a href=" ">格力电器</a>
                </dd>
                <dd>
                    <a href=" ">科技部</a>
                </dd>
            </dl>
            <dl>
                <dt>支持</dt>
                <dd>
                    <a href=" " target='_blank' rel="nofollow">帮助中心</a>
                </dd>

                <dd>
                    <a href=" " rel="nofollow">APP下载</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">产品文档</a>
                </dd>
                <dd>
                    <a href=" " target='_blank' rel="nofollow">产品教程</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">授权验证</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">服务公告</a>
                </dd>
            </dl>

            <dl>
                <dt>关于</dt>
                <dd>
                    <a href=" " rel="nofollow">公司介绍</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">管理团队</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">工作机会</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">联系我们</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">媒体报道</a>
                </dd>
                <dd>
                    <a href=" ">行业资讯</a>
                </dd>
            </dl>

            <dl>
                <dt>更多</dt>
                <dd>
                    <a href=" " rel="nofollow">渠道代理</a>
                </dd>
                <dd>
                    <a href=" " target="_blank" rel="nofollow">应用市场</a>
                </dd>
                <dd>
                    <a href=" " target="_blank" rel="nofollow">舆情社区</a>
                </dd>
            </dl>

            <dl class="f-right">
                <dt>联系热线</dt>
                <dt>404-888-8888</dt>
            </dl>
        </div>
        <div style="height:0.5rem;"></div>
        <div class="con_box " style="padding: 1rem 0 0;">
            <p class="text-left cff">Copyright © 2020-2222 石家庄舆情科技有限公司 京ICP备12050607号 京公网安备110110802011451号</p>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
	var box = document.getElementById("box");
	var oNavlist = document.getElementById("nav").children;
	var slider = document.getElementById("slider");
	var left = document.getElementById("left");
	var right = document.getElementById("right");
	var p1 = document.getElementById("p1");
	var index = 1;
	var timer;
	var isMoving = false;
	var tag = 1;
	
    setInterval(start,290);
    function start(){ 
        tag++;
        animate(p1,{right:-200+10*tag},function(){
	        if(tag === 115){
	          p1.style.right="-200px";
	          tag = 1;
	        } 
        });         
    }
	
	
	function next(){
		if(isMoving){
			return;
		}
		isMoving = true;
		index++;
		navChange();
		animate(slider,{left:-1200*index},function(){
			if(index > 5){
				slider.style.left="-1200px";
				index = 1;
			}
			isMoving = false;
		});		
	}

	function prev(){
		if(isMoving){
			return;
		}
		isMoving = true;
		index--;
		navChange();
		animate(slider,{left:-1200*index},function(){
			if(index === 0){
				slider.style.left="-6000px";
				index = 5;
			}
			isMoving = false;
		});
	}

	timer  = setInterval(next,3000);
	
	box.onmouseover = function(){
		animate(left,{opacity:50});
		animate(right,{opacity:50});
		clearInterval(timer);
	}

	box.onmouseout = function(){
		animate(left,{opacity:0});
		animate(right,{opacity:0});
		timer = setInterval(next,3000);
	}

	right.onclick = next;
	left.onclick = prev;

	for(var i = 0; i < oNavlist.length ;i++){
		oNavlist[i].idx = i;
		oNavlist[i].onclick = function(){
			index = this.idx + 1;
			navChange();
			animate(slider,{left:-1200*index});
		}
	}

	function navChange(){
		for(var i = 0;i < oNavlist.length ;i++){
			oNavlist[i].style.color = "black";
			oNavlist[i].style.background = "#cccccc";
		}
		if(index > 5){
			oNavlist[0].style.color="white";
			oNavlist[0].style.background="#808069";
		}
		else if(index === 0){
			oNavlist[4].style.color="white";
			oNavlist[4].style.background="#808069";
		}
		else{
			oNavlist[index-1].style.color="white";
			oNavlist[index-1].style.background="#808069";
		}
	}


</script>
</html>