<!DOCTYPE html>
<html>
<head>
    <meta name="baidu-site-verification" content="PhTHKMuiX7"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>登录版块</title>
    <link rel="stylesheet" type="text/css" href="../static/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/login_css/demo.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login_css/login.css">
    <script src="./static/js/animate.js"></script>
</head>
<body style="background:url(../static/images/login_img/banner.jpg) no-repeat center top;padding-top:80px;">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/comm.min.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/media.css"/>
<nav class="navbar navbar-default" style="background-color:rgba(0, 0, 0, 0.85)">
    <div class="container">
            <div class="navbar-right">
                <a href="../爬虫/爬虫.html"><img src="../static/images/login_img/sou.png" width="25" alt="大数据分析" height="25"
                                             align="absmiddle"></a>
                <div class="language">
                    <a href="../登录/登录.html" target="_blank" rel="nofollow">用户登录</a>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="box">
    <p class="tit">
        <span class="brand">舆情分析监控平台</span>
    </p>

    <input class="inp" type="text" placeholder="用户名">
    <p class="notice"></p>

    <input class="inp" type="password" placeholder="密码">
    <p class="notice"></p>

    <div>
        <input class="inp code" type="text" placeholder="验证码">
        <button class="getCode">获取验证码</button>
    </div>
    <div class="codeImg">
        <!-- 点击‘获取验证码’按钮后，在此处添加 验证码图片的img标签 -->
    </div>
    <p class="notice"></p>

    <input type="checkbox" checked><span style="color:white">下次自动登录</span>
    <button class="btn">登录</button>
</div>


<div class="footer hidden-xs">
    <div class="container">
        <div class="clearfix">
            <dl>
                <dt>王牌优势</dt>
                <dd>
                    <a href=" ">一站式平台</a>
                </dd>
                <dd>
                    <a href=" ">自助式分析</a>
                </dd>
                <dd>
                    <a href=" ">警报系统</a>
                </dd>
                <dd>
                    <a href=" ">强大分析功能</a>
                </dd>
                <dd>
                    <a href=" ">可视化大屏</a>
                </dd>
                <dd>
                    <a href=" ">创新新产品</a>
                </dd>
                <dd>
                    <a href=" ">超多大数据</a>
                </dd>
            </dl>

            <dl>
                <dt>行业范围</dt>
                <dd>
                    <a href=" ">金融行业</a>
                </dd>
                <dd>
                    <a href=" ">制造行业</a>
                </dd>
                <dd>
                    <a href=" ">零售行业</a>
                </dd>
                <dd>
                    <a href=" ">政府行业</a>
                </dd>
                <dd>
                    <a href=" ">高教行业</a>
                </dd>
                <dd>
                    <a href=" ">电力行业</a>
                </dd>
                <dd>
                    <a href=" ">交通行业</a>
                </dd>
            </dl>

            <dl>
                <dt>案例</dt>
                <dd>
                    <a href=" ">中信银行</a>
                </dd>
                <dd>
                    <a href=" ">中国移动</a>
                </dd>
                <dd>
                    <a href=" ">国家电网</a>
                </dd>
                <dd>
                    <a href=" ">航天科工</a>
                </dd>
                <dd>
                    <a href=" ">格力电器</a>
                </dd>
                <dd>
                    <a href=" ">科技部</a>
                </dd>
            </dl>
            <dl>
                <dt>支持</dt>
                <dd>
                    <a href=" " target='_blank' rel="nofollow">帮助中心</a>
                </dd>

                <dd>
                    <a href=" " rel="nofollow">APP下载</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">产品文档</a>
                </dd>
                <dd>
                    <a href=" " target='_blank' rel="nofollow">产品教程</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">授权验证</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">服务公告</a>
                </dd>
            </dl>

            <dl>
                <dt>关于</dt>
                <dd>
                    <a href=" " rel="nofollow">公司介绍</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">管理团队</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">工作机会</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">联系我们</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">媒体报道</a>
                </dd>
                <dd>
                    <a href=" ">行业资讯</a>
                </dd>
            </dl>

            <dl>
                <dt>更多</dt>
                <dd>
                    <a href=" " rel="nofollow">渠道代理</a>
                </dd>
                <dd>
                    <a href=" " target="_blank" rel="nofollow">应用市场</a>
                </dd>
                <dd>
                    <a href=" " target="_blank" rel="nofollow">舆情社区</a>
                </dd>
            </dl>

            <dl class="f-right">
                <dt>联系热线</dt>
                <dt>404-888-8888</dt>
            </dl>
        </div>
        <div style="height:0.5rem;"></div>
        <div class="con_box " style="padding: 1rem 0 0;">
            <p class="text-left cff">Copyright © 2020-2222 石家庄舆情科技有限公司 京ICP备12050607号 京公网安备110110802011451号</p>
        </div>
    </div>
</div>
</body>
<script>
	    var a=0;
		var inp0 = document.getElementsByClassName("inp")[0];
		var inp1 = document.getElementsByClassName("inp")[1];
		var notice0 = document.getElementsByClassName("notice")[0];
		var notice1 = document.getElementsByClassName("notice")[1];
		var btn = document.getElementsByClassName("getCode")[0];
		var img = document.getElementsByClassName("codeImg")[0];
		var code = document.getElementsByClassName("inp code")[0];
		var btn1 = document.getElementsByClassName("btn")[0];
		inp0.onfocus = function(){
			notice0.innerHTML = "请输入4-10位用户名";
		}
		inp1.onfocus = function(){
			notice1.innerHTML = "请输入6-12位密码";
		}
		inp0.onblur = function(){
			notice0.innerHTML = "";
		}
		inp1.onblur = function(){
			notice1.innerHTML = "";
		}
		btn.onclick = function(){
			var arr = ["zAZfB.jpg","ZEhUN.jpg","zFC9H.jpg","zhWY9.jpg","Zin4c.jpg",
			"ZITGj.jpg","zJ6iV.jpg","zjsKP.jpg","ZKc9S.jpg","zKDXU.jpg"];
			var num = Math.floor(Math.random()*10);
			img.innerHTML = "";
			var imgNode = document.createElement("img");
			imgNode.src = "../static/images/login_images/" + arr[num];
			img.appendChild(imgNode);
		}
		btn1.onclick = function(){
		    var i=0;
			if(inp0.value.length > 10 || inp0.value.length < 4){
			    notice0.innerHTML = "用户名位数不对";
			    i++;
			}
			if(inp1.value.length > 12 || inp1.value.length < 6){
			    notice1.innerHTML = "密码位数不对";
			    i++;
			}
            if(code.value != img.firstElementChild.src.substr(-9,5)){
                if(a==0){
                    var p = document.createElement("p");
                    p.innerHTML = "验证码错误";
                    p.style.lineHeight = "20px";
                    p.style.fontSize = "12px";
                    img.appendChild(p);
                    a++;
                }
			    i++;
			}
			if(i==0){
			    alert("登陆成功");
                inp0.value = "";
                inp1.value = "";
                code.value = "";
                window.open("/")
			}
		}

</script>
</html>