<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="charset=utf-8"/>
    <title>爬虫版块</title>
    <link rel="stylesheet" type="text/css" href="../static/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/comm.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/media.css"/>
</head>
<body style="background:url('../static/images/reptile_img/back.jpg') no-repeat">
<body>
<nav class="navbar navbar-default" style="background-color:rgba(0, 0, 0, 0.85)">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul style="list-style: none;display: inline-block; margin-top:20px;margin-right:25px">
                <li style="display: inline-block;margin-right:8px;">
                    <a href="/" style="color:#FFF"> 首页 </a>
                </li>
                <li class="hidden-xs hidden-sm" style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/pa" target="_blank" rel="nofollow"> 数据采集 </a>
                </li>
                <li class="hidden-xs hidden-sm" style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/tf_idf" target="_blank" rel="nofollow"> 特征值搜索 </a>
                </li>
                <li class="hidden-xs hidden-sm" style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/tf" target="_blank" rel="nofollow"> 特征值可视化 </a>
                </li>
                <li style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/relatedwords" target="_blank" rel="nofollow"> 相关词 </a>
                </li>
                <li class="hidden-xs hidden-sm" style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/pred" target="_blank" rel="nofollow"> 预测值 </a>
                </li>
                <li class="hidden-xs hidden-sm" style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/hotword" target="_blank" rel="nofollow"> 热点词 </a>
                </li>
                <li style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/trend" target="_blank" rel="nofollow"> 情感追踪 </a>
                </li>
                <li class="hidden-xs hidden-sm" style="display: inline-block;margin-right:8px">
                    <a style="color:#FFF" href="/visual" target="_blank" rel="nofollow"> 疫情可视化 </a>
                </li>
            </ul>

            <div class="navbar-right">
                <a href="/search" target="_blank" rel="nofollow"><img src="../static/images/index_img/sou.png"
                                                                      width="25" alt="大数据分析" height="25"
                                                                      align="absmiddle"></a>
                <div class="language">
                    <a href="/login" target="_blank" rel="nofollow">用户登录</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="main">
    <ul style="height:200px; margin-top:130px;margin-left:300px">
        <div style="color:white;margin-left:240px;font-size:50px">爬虫搜索</div>
        <div style="color:white;margin-left:210px;font-size:40px">Reptile Search</div>
    </ul>
</div>
<div class="n_bg1" align="center" style="margin-top:-15px">
    <form action="/paresult" method="get">
        <table width="860" border="0" cellspacing="0" cellpadding="20">
            <input name="q" id="sousuokuang" type="text"
                   style=" width:820px;border-radius: 5px; padding:10px 20px; line-height:30px; font-size:16px; font-family:'微软雅黑'; color:#888;"
                   placeholder="请输入搜索关键字"/>
            <input type="submit" name="button1" id="button1" value="Go!"
                   style=" background:rgb(255,255,255,0.2); width:100px; height:55px; line-height:36px; border:1px solid #FFF; border-radius: 5px; font-size:18px; font-family:'微软雅黑'; color:white;margin-left:5px"/></td>
            <p>
                <tr>
                    <input type="checkbox" name="vehicle" value="人民网"
                           style=" background:rgb(255,255,255,0.2); width:20px; height:20px; margin-top:40px"/> <span
                        style="font-size:18px; line-height:30px; margin:10px; font-family:'微软雅黑'; color:white;">人民网</span>
                    <input type="checkbox" name="vehicle" value="天涯论坛"
                           style=" background:rgb(255,255,255,0.2); width:20px; height:20px; margin-left:20px"/> <span
                        style="font-size:18px; line-height:30px; margin:10px; font-family:'微软雅黑'; color:white;">天涯论坛</span>
                    <input type="checkbox" name="vehicle" value="微博"
                           style=" background:rgb(255,255,255,0.2); width:20px; height:20px; margin-left:20px"/> <span
                        style="font-size:18px; line-height:30px; margin:10px; font-family:'微软雅黑'; color:white;">微博</span>
                    <input type="checkbox" name="vehicle" value="豆瓣"
                           style=" background:rgb(255,255,255,0.2); width:20px; height:20px; margin-left:20px"/> <span
                        style="font-size:18px; line-height:30px; margin:10px; font-family:'微软雅黑'; color:white;">豆瓣</span>
                    <input type="checkbox" name="vehicle" value="贴吧"
                           style=" background:rgb(255,255,255,0.2); width:20px; height:20px; margin-left:20px"/> <span
                        style="font-size:18px; line-height:30px; margin:10px; font-family:'微软雅黑'; color:white;">贴吧</span>
                    <input type="checkbox" name="vehicle" value="组织网"
                           style=" background:rgb(255,255,255,0.2); width:20px; height:20px; margin-left:20px"/> <span
                        style="font-size:18px; line-height:30px; margin:10px; font-family:'微软雅黑'; color:white;">组织网</span>
                </tr>
                </br></br>
            <h1 style="color:white">Page: &nbsp;&nbsp;&nbsp;&nbsp;from
                <input name="q1" id="qi" type="text"
                       style=" width:30px;margin:0 20px 0px 20px;border-radius: 5px; padding:5px; line-height:20px; font-size:15px; font-family:'微软雅黑'; color:#888;"
                       placeholder="s"/>
                to&nbsp;&nbsp;&nbsp;&nbsp;<input name="q2" id="ji" type="text"
                                                 style=" width:30px;border-radius: 5px; padding:5px; line-height:20px; font-size:15px; font-family:'微软雅黑'; color:#888;"
                                                 placeholder="e"/>
            </h1>
            <ul style="height:20px; margin:0 auto;"></ul>
        </table>
    </form>
</div>
<ul style="height:100px; margin:0 auto;"></ul>


<div class="footer hidden-xs">
    <div class="container">
        <div class="clearfix">
            <dl>
                <dt>王牌优势</dt>
                <dd>
                    <a href=" ">一站式平台</a>
                </dd>
                <dd>
                    <a href=" ">自助式分析</a>
                </dd>
                <dd>
                    <a href=" ">警报系统</a>
                </dd>
                <dd>
                    <a href=" ">强大分析功能</a>
                </dd>
                <dd>
                    <a href=" ">可视化大屏</a>
                </dd>
                <dd>
                    <a href=" ">创新新产品</a>
                </dd>
                <dd>
                    <a href=" ">超多大数据</a>
                </dd>
            </dl>

            <dl>
                <dt>行业范围</dt>
                <dd>
                    <a href=" ">金融行业</a>
                </dd>
                <dd>
                    <a href=" ">制造行业</a>
                </dd>
                <dd>
                    <a href=" ">零售行业</a>
                </dd>
                <dd>
                    <a href=" ">政府行业</a>
                </dd>
                <dd>
                    <a href=" ">高教行业</a>
                </dd>
                <dd>
                    <a href=" ">电力行业</a>
                </dd>
                <dd>
                    <a href=" ">交通行业</a>
                </dd>
            </dl>

            <dl>
                <dt>案例</dt>
                <dd>
                    <a href=" ">中信银行</a>
                </dd>
                <dd>
                    <a href=" ">中国移动</a>
                </dd>
                <dd>
                    <a href=" ">国家电网</a>
                </dd>
                <dd>
                    <a href=" ">航天科工</a>
                </dd>
                <dd>
                    <a href=" ">格力电器</a>
                </dd>
                <dd>
                    <a href=" ">科技部</a>
                </dd>
            </dl>
            <dl>
                <dt>支持</dt>
                <dd>
                    <a href=" " target='_blank' rel="nofollow">帮助中心</a>
                </dd>

                <dd>
                    <a href=" " rel="nofollow">APP下载</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">产品文档</a>
                </dd>
                <dd>
                    <a href=" " target='_blank' rel="nofollow">产品教程</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">授权验证</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">服务公告</a>
                </dd>
            </dl>

            <dl>
                <dt>关于</dt>
                <dd>
                    <a href=" " rel="nofollow">公司介绍</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">管理团队</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">工作机会</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">联系我们</a>
                </dd>
                <dd>
                    <a href=" " rel="nofollow">媒体报道</a>
                </dd>
                <dd>
                    <a href=" ">行业资讯</a>
                </dd>
            </dl>

            <dl>
                <dt>更多</dt>
                <dd>
                    <a href=" " rel="nofollow">渠道代理</a>
                </dd>
                <dd>
                    <a href=" " target="_blank" rel="nofollow">应用市场</a>
                </dd>
                <dd>
                    <a href=" " target="_blank" rel="nofollow">舆情社区</a>
                </dd>
            </dl>

            <dl class="f-right">
                <dt>联系热线</dt>
                <dt>404-888-8888</dt>
            </dl>
        </div>
        <div style="height:0.5rem;"></div>
        <div class="con_box " style="padding: 1rem 0 0;">
            <p class="text-left cff">Copyright © 2020-2222 石家庄舆情科技有限公司 京ICP备12050607号 京公网安备110110802011451号</p>
        </div>
    </div>
</div>
</body>
</html>